header {
  width: 100vw;
  padding: 20px 10px;
  background: lavenderblush;
  margin-bottom: 20px;
  box-shadow: MistyRose 0px 7px 29px 0px;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  grid-gap: 20px;
}

li {
  list-style: none;
}
